<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag :application, media: :all %>
    <%= javascript_include_tag :application %>
    <meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
    <title>Matt Buckley</title>
  </head>
  <body>
    <div id="ember"></div>


    <script type="text/x-handlebars" data-template-name="index">
    	<%= render partial: 'bio' %>
		</script>

		<script type="text/x-handlebars" data-template-name="entries">
			<%= render partial: 'entries'%>
    </script>

    <script type="text/x-handlebars" data-template-name="entry">
      <h1>{{title}}</h1>
      {{{body}}}
      <hr/>
      {{#view Blog.LeaveACommentView}}
        {{#if commentFormUntriggered}}
          {{#linkTo 'comments.new' classNames='leave-a-comment'}}Leave a Comment{{/linkTo}}
        {{/if}}
      {{/view}}
      {{outlet}}
      <hr/>
      {{#each comments}}
        <p class="comment-author">{{name}} wrote:<p/>
        <p class="comment">"{{body}}"</p>
        <hr/>
      {{/each}}
    </script>

    <script type="text/x-handlebars" data-template-name="comments/new">
      <%= render 'comment_form' %>
    </script>

    <script type="text/x-handlebars" data-template-name="comments/form">
      <% render partial: 'comment_form' %>
    </script>


  </body>
</html>

